@font-face {
    font-family: 'ElectronicArtsDisplayBold';
    src: url('../fonts/ElectronicArtsDisplay-Bold.otf') format('opentype'); /* Ensure the path is correct */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ElectronicArtsDisplayRegular';
    src: url('../fonts/ElectronicArtsDisplay-Regular.ttf') format('truetype'); /* Ensure the path is correct */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ElectronicArtsDisplay', sans-serif; /* Changed to the new font */
    background-color: #282c34;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.title {
    font-family: 'ElectronicArtsDisplayBold', sans-serif; /* Ensure title uses new font */
    font-size: 3em;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'ElectronicArtsDisplayRegular'; /* Use specific font for titles */
}

.button:hover {
    background-color: #0056b3;
}
